@import '../../assets/scss/reset';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.code-2fa {
  width: 90%;
  min-width: 280px;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container-img {
    width: 186px;
    height: 186px;
    margin-top: 40px;

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &--title {
    color: $color-text-dark;
    @include titleMobile;
    margin: 32px 0 20px 0;
  }

  &__container-form {
    width: 100%;
    min-width: 280px;
    max-width: 500px;
    height: auto;

    &--form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      & input {
        width: 100%;
        height: 28px;
        margin-bottom: 6px;
        background-color: $color-dark-secondary;
        color: $color-text-dark;
        border: none;
        padding: 0 15px;
        @include paragraphsMobile;
        &::placeholder {
          color: $color-light-primary;
          opacity: 0.5;
        }
      }
    }

    &--btn {
      width: 157px;
      height: 32px;
      margin-top: 24px;
      color: $color-text-dark;
      background-color: $color-dark-secondary;
      border: none;
      border-radius: 12px;
      @include subTitleMobile;

      &:hover {
        background-color: $color-light-primary;
        opacity: 0.7;
        color: $color-dark-primary;
      }
    }

    & .message-email {
      transform: translateY(20px);
      color: $color-text-dark;
      font-family: $fontSecondary;
      font-size: $sizeParagraphsMobile;
      font-weight: 400;
    }
  }
}
