@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.dashboard {
  width: 90%;
  min-width: 280px;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link-porfolio {
    align-self: flex-end;
    &--btn-porfolio {
      width: 133px;
      height: 30px;
      border: none;
      border-radius: 12px;
      margin-top: 20px;
      background-color: $color-light-primary;
      color: $color-dark-primary;
      @include subTitleMobile;
    }
  }

  &--title {
    color: $color-text-dark;
    margin-top: 20px;
    margin-bottom: 32px;
    @include titleMobile;
  }

  &__wrap-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    gap: 16px;

    &--card {
      width: 90%;
      min-width: 280px;
      max-width: 320px;
      background-color: $color-dark-secondary;
      border-radius: 12px;
      padding: 16px;
      position: relative;
      display: flex;
      flex-direction: column;

      &--btn-plus {
        background-color: transparent;
        border: none;
        color: $color-primary;
        font-size: 2rem;
        position: absolute;
        top: 8px;
        right: 12px;
      }

      &__title {
        width: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;

        &--container-img {
          width: 50px;
          height: 50px;

          &--img {
            width: 100%;
            height: 100%;
          }
        }

        & h3 {
          color: $color-text-dark;
          margin-left: 8px;
          @include subTitleMobile;
        }
      }

      &__description {
        margin-top: 12px;
        & h4 {
          color: $color-text-dark;
          @include paragraphsMobile;
          margin: 6px;

          & span {
            color: $color-light-primary;
          }

          & .currency,
          .percentage-24h {
            margin: 0 6px;
          }
        }
      }
    }
  }
}
