@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.dashboard {
  width: 90%;
  min-width: 280px;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link-porfolio {
    align-self: flex-end;
    margin-top: 20px;
    &--btn-porfolio {
      width: 133px;
      height: 30px;
      border: none;
      border-radius: 12px;
      background-color: $color-light-primary;
      color: $color-dark-primary;
      cursor: pointer;
      @include subTitleMobile;
    }
  }

  &--title {
    color: $color-text-dark;
    margin-top: 20px;
    margin-bottom: 32px;
    @include titleMobile;
  }
}
