@import '../../assets/scss/reset';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.error {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    background: #ff5b5c;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: -14px;
}