@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.container-modal {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background-color: rgba(189, 209, 248, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    position: relative;
    width: 90%;
    min-width: 280px;
    max-width: 500px;
    height: 560px;
    margin: 20px 0;
    background-color: $color-dark-primary;
    border-radius: 12px;

    &--btn-close {
      background-color: transparent;
      border: none;
      color: $color-primary;
      font-size: 3rem;
      position: absolute;
      top: 8px;
      right: 12px;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }

    &--title {
      color: $color-text-dark;
      text-align: center;
      margin: 40px 0 20px;
      @include titleMobile;
    }
    &--head-crypto {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &--container-img {
        width: 50px;
        height: 50px;

        & img {
          width: 100%;
          height: 100%;
        }
      }

      & h3 {
        color: $color-text-dark;
        margin-left: 8px;
        @include subTitleMobile;

        & span {
          @include paragraphsMobile;
        }
      }
    }

    &--container-form {
      width: 100%;
      min-width: 280px;
      max-width: 500px;
      height: auto;
      transform: translateY(20px);
      margin: 0 auto;

      &--form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        & label {
          color: $color-text-dark;
          margin-bottom: 6px;
          align-self: flex-start;
          transform: translateX(16px);
          @include subTitleMobile;
        }

        & input {
          width: 95%;
          height: 28px;
          margin-bottom: 6px;
          background-color: $color-dark-secondary;
          color: $color-text-dark;
          border: none;
          padding: 0 15px;
          @include paragraphsMobile;
          &::placeholder {
            color: $color-light-primary;
            opacity: 0.5;
          }
        }

        &--btns {
          width: 90%;
          display: flex;
          justify-content: space-evenly;
          & .btn-add,
          & .btn-cancel {
            width: 120px;
            height: 40px;
            transform: translateY(16px);
            background-color: transparent;
            border: 2px solid $color-secondary;
            border-radius: 12px;
            color: $color-text-dark;
            cursor: pointer;
            @include titleMobile;
            &:hover {
              background-color: $color-secondary;
              color: $color-dark-primary;
            }
          }

          & .btn-cancel {
            border: 2px solid $color-tertiary;
            &:hover {
              background-color: $color-tertiary;
              color: $color-dark-primary;
            }
          }
        }
      }
    }
  }
}
