@import '../../assets/scss/reset';
@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.sign-up {
  width: 90%;
  min-width: 280px;
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container-img {
    margin-top: 20px;
    width: 60px;
    height: 60px;

    &--img {
      width: 100%;
      height: 100%;
    }
  }

  &--title {
    color: $color-text-dark;
    margin: 24px 0 28px 0;
    @include titleMobile;
  }

  &__container-form {
    width: 100%;
    min-width: 280px;
    max-width: 500px;
    height: auto;

    &--form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      & label {
        color: $color-text-dark;
        margin-bottom: 6px;
        margin-top: 20px;
        @include subTitleMobile;
      }

      & input {
        width: 100%;
        height: 40px;
        margin-bottom: 6px;
        background-color: $color-dark-secondary;
        color: $color-text-dark;
        border: none;
        padding: 0 15px;
        border-radius: 5px;
        @include paragraphsMobile;
        &::placeholder {
          color: $color-light-primary;
          opacity: 0.5;
        }
      }

      .button-signup {
        padding: 1rem;
        background-color: transparent;
        color: $color-text-dark;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid $color-secondary;
        border-radius: 12px;
        margin-top: 20px;
        letter-spacing: 1px;
        &:hover {
          background-color: $color-secondary;
          color: $color-dark-primary;
        }
      }
    }

    .error {
      color: white;
      text-align: center;
      margin-top: 20px;
      font-weight: bold;
      font-size: 18px;
      background: red;
      padding: 1rem;
      border-radius: 5px;
    }
  }
}
